.ch-position {
  padding: 0% 5%;
}

.ch-title {
  font-family: 'Montserrat-Bold', 'Montserrat Bold', 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  color: #01638a;
  text-align: left;
  margin: 3% 0%;
}

.ch-order-summary {
  background: inherit;
  background-color: rgba(235, 241, 241, 1);
  padding: 2% 20% 2% 5%;
}

.ch-summary-row-1 {
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.02px;
  color: #161618;
  text-align: left;
  line-height: 28px;
  margin-bottom: 10px;
}

.ch-summary-row-2 {
  font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #161618;
  line-height: 36px;
  margin-left: 135px;
  margin-right: 135px;
}

.ch-row-left {
  font-weight: 700;
  text-align: left;
  width: 50%;
  display: inline-block;
}

.ch-row-right {
  font-weight: 550;
  text-align: right;
  width: 45%;
  display: inline-block;
}

.ch-order-total {
  background: inherit;
  background-color: white;
  padding-top: 2%;
}

.ch-price-value {
  font-size: 24px;
  color: #009192;
  font-weight: 700;
}

.ch-price-text {
  color: #009192;
  font-weight: 700;
}

.ch-price-row {
  border-top: solid #bee9eb 2px;
  font-family: 'Roboto-Bold', 'Roboto Bold', 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.2px;
  color: #161618;
  line-height: 36px;
  padding-top: 15px;
  margin-left: 135px;
  margin-right: 135px;
}

.ch-order-subscription {
  height: 450px;
  background: inherit;
  background-color: white;
  padding: 2% 20% 2% 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ch-sub-row {
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: -0.02px;
  color: #666666;
  text-align: left;
  line-height: 36px;
  padding-left: 2%;
}

.ch-sub-left {
  text-align: left;
  width: 50%;
  display: inline-block;
}

.ch-sub-right {
  font-weight: 400;
  text-align: right;
  width: 45%;
  display: inline-block;
}

.ch-sub-right-price {
  font-size: 18px;
}

.ch-sub-balace {
  display: inline-block;
  height: 30px;
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.02px;
  text-align: left;
  padding-left: 2%;
  font-weight: 600;
}

.ch-sub-balace-order {
  display: inline-block;
  height: 30px;
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.02px;
  text-align: left;
  padding-left: 2%;
  font-weight: 600;
}

.ch-sub-hr {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.ch-sub-hr-order {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.ch-sub-title {
  font-family: 'Roboto-Regular', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  letter-spacing: -0.02px;
  text-align: left;
  line-height: 28px;
}

.ch-button-position {
  padding-left: 5%;
  padding-right: 23%;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.step-buttons button:last-child {
  flex: 1;
  max-width: 225px;
}

.ml-3,
.mx-3 {
  margin-left: 1rem;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.btn-layout.btn-text {
  background: none;
  color: #019193;
  box-shadow: none !important;
  font-weight: normal;
}

.btn-layout,
.btn-layout:focus,
.btn-layout:active {
  background: #019193;
}

.btn-layout:hover {
  background: #036887;
  color: white;
}

.btn-layout.btn-text:hover {
  background: rgba(0, 115, 150, 0.2);
  color: #019193;
}

.step-2-select-target {
  font-size: medium;
  cursor: pointer;
}

.step-2-right-source {
  display: inline-table;
  color: #019193;
  background: white;
  padding: 2px 8px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  margin-right: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.ui-dialog {
  width: 90% !important;
  z-index: 9980;
  top: 10px !important;
}

.loading {
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  position: relative;
}

.loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #5389a6;
  font-family: "Oxygen", sans-serif;
  animation: text 3.5s ease both infinite;
  font-size: 12px;
  letter-spacing: 1px;
}

@keyframes text {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

.loading span {
  background-color: #5389a6;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading 3.5s ease both infinite;
}

.loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a6dcee;
  border-radius: inherit;
  animation: loading2 3.5s ease both infinite;
}

@keyframes loading {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.loading-quote {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 67px;
  background: white;
  left: 0px;
}

.d-none {
  display: none;
}

#wol-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a.btn {
  cursor: pointer;
  text-decoration: none;
}

a.btn>img {
  width: 24px;
}

body,
.ui-dialog {
  background: url(../icons/wordsonline_background.jpg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.ui-dialog>.ui-dialog-content {
  background: transparent;
}

.content-header {
  background: none !important;
}

.wol-btn,
input[data-drupal-selector="edit-settings-connect"] {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #fff !important;
  background: #019193 !important;
  font-weight: normal;
}

.page-title {
  color: #01638a;
}

.view-tmgmt-job-items table thead,
.view-tmgmt-job-items table tr th {
  background-color: #007396;
}

table thead {
  border-radius: 5px 5px 0px 0px;
}

table.wol-table thead,
table.wol-table tr th,
.view-tmgmt-job-messages table thead,
.view-tmgmt-job-messages table tr th,
.view-tmgmt-job-overview table thead,
.view-tmgmt-job-overview table tr th,
div[data-once="dropbutton"] ul li a,
div[data-once="dropbutton"] ul li button,
.view-tmgmt-translation-all-job-items table thead,
.view-tmgmt-translation-all-job-items table tr th .tmgmt-overview-form table thead,
.tmgmt-overview-form table tr th {
  background-color: #ebf1f1 !important;
}

table.wol-table td {
  font-weight: 500;
}

table.wol-table td a {
  color: #009192;
}

summary {
  color: #01638a !important;
  font-size: 1.2rem;
}

.wol-text-field {
  width: 100%;
  float: left;
}

.wol-text-field div {
  width: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(51 51 51 / 4%), 0px 4px 16px rgb(51 51 51 / 8%);
  padding: 5px;
  float: left;
  width: 100%;
}

textarea {
  border-radius: 4px !important;
  box-shadow: 0px 4px 4px rgb(51 51 51 / 4%), 0px 4px 16px rgb(51 51 51 / 8%);
  border: none !important;
  background-color: white;
}

label.form-item__label {
  color: #01638a;
}

.wol-text-field div .form-item__description {
  display: none;
}

.wol-text-field label {
  color: rgba(22, 22, 24, 0.5);
  font-weight: normal;
  margin-left: 13px;
}

.wol-text-field input,
.wol-text-field input:active,
.wol-text-field input:focus,
.wol-text-field input:hover,
.wol-text-field select,
.wol-text-field select:active,
.wol-text-field select:focus,
.wol-text-field select:hover {
  border: none;
  width: 100%;
}

.wol-checkbox-field input {
  margin-left: 0px !important;
  margin-right: 5px;
}

#tmgmt-ui-job-checkout-details details {
  background: #ebf1f1;
}

.wol-order-form .wol-order-info {
  background: white;
  border-radius: 20px;
}

.wol-order-action .wol-btn {
  float: right;
  clear: both;
  border-radius: 5px;
  font-weight: normal;
}

.wol-order-info-summary {
  background: #ebf1f1;
  padding: 30px;
  border-radius: 20px 20px 0px 0px;
}

.wol-order-content {
  padding: 30px;
  background: url(../icons/order-confirm.png) no-repeat;
  background-position: right;
  background-origin: content-box;
}

.wol-lang-source {
  padding: 7px;
  background: white;
  border-radius: 4px;
}

.ch-row-right span {
  font-weight: 550;
}

.ch-row-right .form-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.ui-dialog .ui-dialog-titlebar {
  background: transparent;
}

.ch-row-right input[type="date"],
.ch-row-right input[type="date"]:hover {
  /* display: flex;
  flex-flow: row-reverse; */
  padding: 8px;
  height: auto;
  border: none;
  box-shadow: none;
  float: right;
  clear: both;
  text-align: right;
}

.pager__link.is-active,
.pager__item--current {
  background: #019193 !important;
}

.pager__link,
.pager__item--current {
  border-radius: 4px !important;
}

table.wol-table tr td a,
.view-tmgmt-job-messages table tr td a,
.view-tmgmt-job-overview table tr td a,
.view-tmgmt-translation-all-job-items table tr td a {
  color: #019193 !important;
}

.tmgmt-job-edit-form #edit-save {
  display: none;
}

table.wol-table tr td a {
  margin-right: 10px;
}

table.wol-table tr td a:last-child {
  margin-right: 0px;
}

.wol-checkbox-field div {
  margin-left: 0px;
}

[id^='edit-settings-auto-import'] {
  margin-left: 22px !important;
}

[id^='edit-settings-auto-apporve-quote'] {
  margin-left: 22px !important;
}

[id^='edit-remote-languages-mappings'] {
  display: none!important;
}

.d-hidden {
  visibility: hidden;
}

select option[disabled] {
  display: none;
}

.wol-search-field {
  margin-top: 10px;
  float: right;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 15px;
}

.wol-search-field .form-item {
  width: auto;
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.wol-search-field>input[type="submit"] {
  margin-top: 0px;
  float: left;
}

.pagination {
  display: flex;
  justify-content: center;
}

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

input.form-text:hover {
  border: 1px;
}

@-moz-document url-prefix() {
  input[type="date"] {
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../icons/calendar.png);
    background-origin: content-box;
  }
}

.wol-des .form-item__description {
  display: block;
  background: transparent;
  box-shadow: none;
}
